<!DOCTYPE html>
<html>
<head>
    <title>首页-我的 beego 博客</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="/">我的博客</a>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/category">分类</a></li>
            <li><a href="/topic">文章</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1>我的第一篇博客</h1>
        <h6 class="text-muted">文章发表于 2018 年 x 月 x 日 xx:xx, 共有 100 次浏览，200个评论。 </h6>
        <p>
            大家好，这是我的第一篇博客，谢谢阅览！
        </p>
    </div>
</div>
</body>
</html>